<nav class="home">
<%= link_to new_list_path do %><div class="new_list_button">+</div><% end %>
  <% if @lists.empty? %>
    <%="no list to display"%>
    <% else %>
  <% @lists.each do |list| %>
  <%=  link_to list_path(list) do %>
    <div class="list_item">
      <div class="list_item_bg"style= "background-image: url('<%= list.photo.attached? ? cl_image_path(list.photo.key) : image_path('pexels-obregonia-d-toretto-918281.jpg') %>')">
      </div>
      <div class="list_item_content"><%= list.name %></div>
      <% end %>
    </div>
  <% end %>
<% end %>
